<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express</title>
</head>
<body>
    <h1>All Athletes</h1>
    <ul>
        <% athletes.forEach(function(e) { %>
            <li>
                <%= e.athlete %> 
                :
                <%= e.sport %> 
            </li>
        <% }); %>
    </ul>
</body>
</html>